.details-container {
    position: absolute;
    top: 750px;
    width: 400px;
    background-color: #747474;
}

.map-container {
    position: absolute;
    padding-left: 70px;
    padding-right: 70px;
    top: 50px;
}