.winner-container {
    z-index: 4;
    position: absolute;
    background-color: grey;
    top: 200px;
    left: 650px;
    width: 600px;
    height: 150px;
    border-top: 5px solid #969696;
    border-left: 5px solid #969696;
    border-bottom: 5px solid #555555;
    border-right: 5px solid #555555;
    text-align: center;
}